.navbar-brand{
    padding: 2px 25px;
}

.navbar{
    border-radius: 0;
    background: #666666;
    border : 1px solid #3a3a3a;
    font-size: 110%;
}

.navbar-default .navbar-nav > li > a {
    color: #eeeeee;
}