<header>
  <div class="header-content">
      <div class="header-content-inner">
          <h1 id="homeHeading">Escape Game</h1>
          <hr>
          <h2>Fort Lachaux - Pays de Montbéliard</h2>
          <p>L'escape game (ou jeux d'évasion en réél) est un loisir pour tous, ou votre objectif est de résoudre des énigmes et sortir de la salle dans un temps limité. </p>
          <a href="#jeu" class="btn btn-primary btn-xl page-scroll">Découvrir l'escape game</a>
      </div>
  </div>
</header>