<nav id="mainNav" class="navbar navbar-default" data-spy="affix" data-offset-top="160" >
    <div class="navbar-header">
        <div>
            <a class="navbar-brand" href="#"><img src="./assets/img/401_sans_fond_small.png" alt="logo" height="100%"></a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a class="page-scroll" href="#/home"> Agenda <span class="fa fa-calendar"></span> </a>
            </li>                    
            <li>
                <a class="page-scroll" href="/"> Retour au site <span class="fa fa-external-link"></span> </a>
            </li>                    
        </ul>
    </div>
</nav>