<div class="container-fluid logo">
        <div>
            <a class="navbar-brand" href="#"><img src="./assets/img/401_sans_fond_small.png" alt=""></a>
            
        </div>
    </div>

    <nav id="mainNav" class="navbar navbar-default" data-spy="affix" data-offset-top="160">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>

            </div>


            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#jeu">Jeu</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>