<div class="container bloody">  
  <div class="row text-center">
    <h1> A compter du 29 septembre, et jusqu'au 4 novembre 2018, Le Fort Lachaux bascule dans les ténèbres d’Halloween !</h1>
    <p>
       L'atmosphère maléfique s'est répandue dans La salle d'escape game. De nouvelles énigmes terrifiantes, une nouvelle histoire sanguinolente vous attendent pendant tout le mois d'octobre.
       L'escape game horrifiante, est déconseillée pour les personnes de moins de 16 ans.     
     </p>    
  </div>
</div>