<div class="container bloody">
  <div class="row text-center">
    <h1> A compter du 12 octobre, et jusqu'au 30 novembre 2019, Le Fort Lachaux bascule dans les ténèbres d’Halloween !</h1>
    <p>
       L'atmosphère maléfique s'est répandue au fort Lachaux. De nouvelles énigmes terrifiantes, une nouvelle histoire sanguinolente vous attendent pendant tout le mois d'octobre / novembre.
       L'escape game horrifiante, est déconseillée pour les personnes de moins de 14 ans.
     </p>
  </div>
</div>
