<div class="container">
    <div class="row">
        <app-header></app-header>
        <p-growl></p-growl>
        <main>
            <div class="row">
                <div class="col-xs-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>      
        

    </div>
</div>


<footer style="text-align:center;width:100%;padding:20px 0px 10px">
    <div class="row">
        <div class="col-xs-12">Bureau 401 - Réservation v.{{version}}  © 2018</div>
    </div>
</footer>