<h2>Réservation de séance</h2>

<div *ngIf="myForm">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    Séance commençant le {{myForm.get('startDateTime').value | date:'dd/MM/y \à HH:mm:ss'}}
  </div>  
  <h3>Niveau de difficulté </h3>
  <div class="btn-group" role="group" aria-label="level">
    <button *ngFor="let level of levels; let i = index" type="button" 
            class="btn btn-default" [class.active]="myForm.get('level').value == level.value"
            (click)="myForm.get('level').setValue(level.value)"
    >{{level.label}}</button>
  </div>
  <h3>Nombre de joueurs</h3>
  <div class="ui-inputgroup">
      <button pButton type="button" icon="fa-minus" [disabled]="myForm.get('subscribers').controls.length <= 2" (click)="removePlayer()"></button>    
      <input type="text" pInputText placeholder="Vote" value="{{myForm.get('subscribers').controls.length}}">   
      <button pButton type="button" icon="fa-plus" [disabled]="myForm.get('subscribers').controls.length >= 6" (click)="addPlayer()"></button>      
  </div>

  <h3 title="L'identité et l'adresse e-mail du premier joueur sont obligatoires">Identité et adresse e-mail des joueurs</h3>
  <div formArrayName="subscribers" class="form-group">
    <div class="form-group row" *ngFor="let item of myForm.get('subscribers').controls; let i = index" [formGroup]="item">
      <div class="col-sm-3">
        <label [attr.for]="'user'+i">Prénom <span *ngIf="i == 0">*</span></label>
        <div class="alert alert-danger" *ngIf="!item.get('firstname').valid && item.get('firstname').dirty">Le prénom est obligatoire</div>
        <input type="text" class="form-control" [attr.id]="'user'+i" formControlName="firstname">
      </div>
      <div class="col-sm-3">
        <label [attr.for]="'user'+i">Nom <span *ngIf="i == 0">*</span></label>
        <div class="alert alert-danger" *ngIf="!item.get('lastname').valid && item.get('lastname').dirty">Le nom est obligatoire</div>
        <input type="text" class="form-control" [attr.id]="'user'+i" formControlName="lastname">
      </div>
      <div class="col-sm-4">
        <label [attr.for]="'mail'+i">E-Mail <span *ngIf="i == 0">*</span></label>
        <div class="alert alert-danger" *ngIf="!item.get('email').valid && item.get('email').dirty">
          <span *ngIf="item.get('email').hasError('required')">Le mail est obligatoire</span>
          <span *ngIf="item.get('email').hasError('email')">L'adresse email est invalide</span>
        </div>
        <input type="text" class="form-control" [attr.id]="'mail'+i" formControlName="email">
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Réserver</button>
</form>

  <button *ngIf="validable" class="btn btn-primary" (click)="validateSession()">Valider ma réservation</button>
</div>