    <div class="row" >
        <div class="col-xs-2">
            <button class="btn btn-default btn-block" (click)="shiftDate(-1)">&lt;</button>
        </div>
        <div class="col-xs-8">
            <span class="datepicker">
                <my-date-picker name="date" [options]="myDatePickerOptions" [(ngModel)]="dateModel" (dateChanged)="onDateChanged($event)"></my-date-picker>
            </span>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-block" (click)="shiftDate(1)">&gt;</button>
        </div>    
    </div>

