/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/less/bootstrap.less";

@bgcolor: rgb(69,83,84);
body {  
    font-family: "Playfair Display",serif;
    background-color: @bgcolor;
    color: white;
}

input{
color:black;
}

.btn {
    border: medium none;
    border-radius: 0px;   
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.35s ease 0s;
}
.btn-primary-dark {
    background-color: #455354;
    border-color: #455354;
    color: white;
}

.btn-primary-light {
    background-color: white;
    border-color: #455354;
    color: #222222;
   
}

.btn-primary-light:hover {
    background-color: #e2e2e2;
    border-color: #ededed;   
}

.room-calendar .fc-event {
    padding : 5px;
    text-align: center;
    font-size: 100%;
    background-color: #707070;
    border: none;
    margin: 1px 0;
}

.room-calendar .fc-event.free {
    background-color : #406032;
    //border: 1px solid #21331a;
}

.toto .fc-event.free{
    background-color: red!important;;
    color:yellow;
}