<div>
    <p-schedule
        [events]="events" locale="fr" 
        [header]="headerConfig" [allDaySlot]="false" 
        (onDayClick)="handleDayClick($event)"        
        (onEventClick)="handleEventClick($event)"
        (onViewRender)="loadCalendar($event)"
        minTime="10:00:00"
        timezone="local"
        defaultView="agendaWeek"
        [contentHeight]="640"
    >
    </p-schedule>
</div>
<div style="display:block; position:absolute; top:50%; left:50%; width:100px; height:100px; margin-left:-50px; margin-top:-50px;text-align:center;z-index:1000">
    <p-progressSpinner *ngIf="loading" ></p-progressSpinner>
</div>
