<my-datepicker [date]="currentDate" [onChange]="onChange()"></my-datepicker>
<br />
<table border="0">
    <tr>
        <th>Horaire</th>
        <th>Disponibilité</th>
    </tr>
    <tr *ngFor="let sessionTime of sessionTimes">
        <td>{{sessionTime.hour}}</td>
        <td *ngIf="sessionTime.session" rowspan="4">
            <span *ngIf="sessionTime.session.is_free"><a href="#">Réserver</a></span>
            <span *ngIf="!sessionTime.session.is_free">Complet</span>
        </td>
    </tr>
</table>
<br />

<fieldset>
    <legend>Debug</legend>

    Date : {{currentDate}}<br/>
    Test :
    <pre>{{room | json}}</pre>
</fieldset>
