
table{
    border-collapse:collapse;
    border:1px solid black;
        background-color: rgb(34,34,34);
}
td {
    height: 12px;
    border-left : 1px solid grey;
    border-right : 1px solid grey;
}
td.planning-cell{
    font-size: 12px;
}
tr.full-hour td{
    border-top:1px solid grey;
    line-height: 30px;
}

tr.not-full-hour td{
    border-top:1px dotted grey;
    line-height: 30px;
}

.game-session {
    border:1px solid;
    border-radius:5px;
    text-overflow:ellipsis;
    background:#a3a3a3;
    border-color:#333333;
    z-index:50;
}
.calendar .game-session{
    position:absolute; 
    padding:5px;
    display:block;
    top:0px;
    left:0px;
    right:0px;    
}

.room-calendar .fc-event {
    background:#FF0000;
}

.room-calendar .fc-event.free {
    background:#387cea;
    border-color:#06054a;
}

.reservation-link {
    color:black;
}


table.month-calendar {
    width:100%;
    table-layout:fixed;
}
.month-calendar td {
    vertical-align:top;
    width:14.29%;
    height:100px;
    border:1px solid grey;
}

.calendar-day {
    color:grey;
}
.calendar-day.current-month {
    color:white;
}
.calendar-day.today {
    font-weight:700;
}

.choicePeriod{
    margin-bottom: 20px;
}